In [45]:
import pandas as pd
from global_macro_data import gmd

In [46]:
class GMDClient:
    def __init__(self):
        pass
    def get_gmd(self):
        return gmd(show_preview=False)
    def validate_type(self, gmd_df):
        if not isinstance(gmd_df, pd.DataFrame):
            raise TypeError(f"GMDClient expected pandas.DataFrame got {type(gmd_df)}")
        if gmd_df.empty:
            raise ValueError(f"GMD Dataframe ist empty")
        return gmd_df
    def run(self):
            df = self.get_gmd()
            return self.validate_type(df)

In [47]:
class GMDTransformer:
    def __init__(self):
        pass
    def clean_id(self, df):
        df = df.drop(columns=['id', 'ISO3'])
        return df
    def objects_to_int(self, df):
        income_map = {"Low income": 1, "Lower middle income": 2, "Upper middle income": 3, "High income": 4,}
        df["income_group_code"] = df["income_group"].map(income_map).astype("Int8")
        df = df.drop(columns=['income_group'])
        return df
    def to_long(self, df):
        id_vars = ["countryname", "year"]
        df_long = df.melt(id_vars=id_vars, var_name="Item_Description", value_name="Value")
        return df_long
    def run(self, df):
        df = self.clean_id(df)
        df = self.objects_to_int(df)
        df = self.to_long(df)
        return df

In [48]:
class GMDIngestor:
    def __init__(self):
        self.client = GMDClient()
        self.transformer = GMDTransformer()
    def run(self):
        df = self.client.run()
        df = self.transformer.run(df)
        return df

In [49]:
GMDIngestor().run()

Downloading: https://www.globalmacrodata.com/GMD_2025_12.csv
Final dataset: 56850 observations of 78 variables

        countryname    year   Item_Description  Value
0             Aruba  1960.0               nGDP   <NA>
1             Aruba  1961.0               nGDP   <NA>
2             Aruba  1962.0               nGDP   <NA>
3             Aruba  1963.0               nGDP   <NA>
4             Aruba  1964.0               nGDP   <NA>
...             ...     ...                ...    ...
4206895    Zimbabwe  2027.0  income_group_code    2.0
4206896    Zimbabwe  2028.0  income_group_code    2.0
4206897    Zimbabwe  2029.0  income_group_code    2.0
4206898    Zimbabwe  2030.0  income_group_code    2.0
4206899         NaN     NaN  income_group_code    4.0

[4206900 rows x 4 columns]